* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* root font size */
  font-size: 1vw; 
}

.container {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.primary-button, .secondary-button {
  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
  height: fit-content;
  width: fit-content;
  font-size: 1rem;
}

.primary-button {
  background-color: #6e6eb4;
  color: #fff;
  border: none;
}

.primary-button:hover {
  background-color: #402e56;
  cursor: pointer;
}

.secondary-button  {
  background-color: #fff;
  color: #6e6eb4;
  box-shadow: inset 0 0 0 1px #6e6eb4;
  border: none;
}

.secondary-button:hover {
  color: #402e56;
  box-shadow: inset 0 0 0 1px #402e56;
  cursor: pointer;
}

.navbar {
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navtop {
  height: 40px;
  background-color: #f0f0f7;
}

.navbottom {
  height: 60px;
  background-color: #fff;
}